Y4O4X0_XMLSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="cegek">
        <xs:complexType>
            <xs:sequence>

                <xs:element name="ceg">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="nev" type="xs:string"/>
                            <xs:element name="cim">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="varos" type="xs:string"/>
                                        <xs:element name="cim" type="xs:string"/>
                                        <xs:element name="hazszam" type="xs:integer"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>

                        </xs:sequence>
                    </xs:complexType>

                </xs:element>

            </xs:sequence>


            <!-- attributes -->
            <xs:attribute name="ckod" type="xs:integer" use="required"/>

        </xs:complexType>
    </xs:element>

    
</xs:schema>