Y4O4X0_0225/Y4O4X0_XMLSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
        elementFormDefault="unqualified" 
        attributeFormDefault="unqualified">

        <!--Common types-->

        <xs:complexType name="CimType">
            <xs:sequence>
                <xs:element name="varos" type="xs:string"/>
                <xs:element name="utca" type="xs:string"/>
                <xs:element name="hazszam" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>

        <xs:complexType name="GyarkolatType">
            <xs:sequence>
                <xs:element name="kezdet" type="xs:date"/>
                <xs:element name="idotartam" tpye="xs:string"/>
            </xs:sequence>
        </xs:complexType>

        <xs:simpleType name="PrioritasType">
            <xs:restriction base="xs:string">
                <xs:enumeration value="Magas"/>
                <xs:enumeration value="Közepes"/>
                <xs:enumeration value="Alacsony"/>
            </xs:restriction>
        </xs:simpleType>

        <xs:simpleType name="OsszegType">
            <xs:restriction>
                <xs:minInclusive value="150000"/>
                <xs:maxInclusive value="30000000"/>
            </xs:restriction>
        </xs:simpleType>

        <xs:simpleType name="EletkorType">
            <xs:restriction>
                <xs:minInclusive value="18"/>
                <xs:maxInclusive value="75"/>
            </xs:restriction>
        </xs:simpleType>

        <xs:simpleType name="FizetesType">
            <xs:restriction base="xs:integer">
                <xs:minInclusive value="500000"/>
                <xs:maxInclusive value="2500000"/>
            </xs:restriction>
        </xs:simpleType>

        <!--Domain types-->

        <xs:complexType name="CegType">
            <xs:sequence>
                <xs:element name="nev" type="xs:string"/>
                <xs:element name="cim" type="CimType"/>
            </xs:sequence>
            <xs:attribute name="ckod" type="xs:integer" use="required"/>
        </xs:complexType>

        <xs:complexType name="TulajdonosType">
            <xs:sequence>
                <xs:element name="nev" type="xs:string"/>
                <xs:elememt name="eletkor" type="EletkorType"/>
                <xs:element name="vegzettseg" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="tkod" type="xs:integer" use="required"/>
            <xs:attribute name="c_t" type="xs:integer" use="required"/>
        </xs:complextType>

        <xs:complexType name="GyakornokType">
            <xs:sequence>
                <xs:element name="nev" type="xs:string"/>
                <xs:element name="gyakorlat" type="xs:GyakorlatType"/>
                <xs:element name="mentor" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="gykod" type="xs:integer" use="required">
        </xs:complexType>

        <xs:complexType name="fejlesztoType">
            <xs:sequence>

            </xs:sequence>
        </xs:ComplexType>
   
</xs:schema>